.contact-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    margin: 80px auto;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: #151A4D;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button {
    width: 100%;
    padding: 12px;
    background: #151A4D;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0f143a;
}

.contact{
    text-align: center;
}

.icon{
    width: 80px;
    height: 80px;
    background: #151A4D;
    border-radius: 50%;
    

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon i{
    color: #fff;
    font-size: 32px;
}

.contact-row{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    width: 33.33%;
    text-align: center;
    padding: 0 40px;
}

.card:nth-child(2){
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.location-title{
    text-align: center;
}

.location-section{
    width: 100%;
    margin-top: 80px;
    text-align: center;
}

.location-section iframe{
    width: 100%;
    max-width: 1200px;
    height: 450px;
    border-radius: 10px;
}