body {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Menu Section*/
nav {
    background: #151A4D;
    padding: 15px;
    position: relative;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.menu li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
}

.logo {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

footer {
    background-color: #151A4D;
    padding: 35px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-socials {
    display: flex;
    gap: 25px;
}

.footer-socials a,
.footer-logo,
.footer-copy {
    color: white;
}

.footer-socials a {
    font-size: 22px;
    text-decoration: none;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-copy {
    text-align: right;
    margin: 0;
    line-height: 1.5;
}


/* Tablet */
@media (max-width: 768px) {
    .menu {
        gap: 10px;
    }

    .menu li a {
        padding: 8px 12px;
    }
}

/* Phone */
@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        width: 100%;
        text-align: center;
    }
}

/*Slideshow Section*/
.slideshow {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  max-width: 600px;
  z-index: 2;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
}

.primary {
  background: #151A4D;
  color: white;
}

.secondary {
  background: white;
  color: #333;
}
.slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

